/* Author:Winnee */
@import url('https://fonts.googleapis.com/css?family=Varela+Round');

*{
  font-family: 'Varela Round', sans-serif;
}
body {
  background: #efefef !important;
    font-family: 'Varela Round', sans-serif;
}

p {
    font-family: 'Varela Round', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.row{
  height: 100%;
  margin: 0px;
  padding: 0px;
}
._card{
  display: flex;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;

}
._mainholder{
  margin-top: -8px!important;
}
._sidenavholder{
  padding-bottom: 20px;
}

._postsholder{

}
.sidebar_extras{
    padding: 14px;
    text-align: center;
    background-color: #292c32;
  }
.sidebar_extras span{
    width: 100%;
}
.sidebar_extras span a {
  text-transform: uppercase;
  text-decoration: none !important;
  color: #efefef !important;
  font-style: normal;
  font-size: 13px;
}
.sidebar_extras span  a:hover &a:visited{
  color: #efefef !important;

}
.selected{
  background-color: #d94c4d !important;
}

/* social meddia */
.social_feed{
  padding: 10px;
  text-align: center;

}
.social_feed a i {
  padding: 6px;
  text-decoration: none;
  color: black;
}
/* .social_feed a,a:visited{
  text-decoration: none;
  color: black;
} */

._copyright{
  text-align: center;
  font-weight: bold;
  padding-bottom:  10px;
  font-size: 13px;

}

/* serch bar */
.search-container{
  padding: 20px;
}
.search-container form input ,.search-container form input:hover,.search-container form input:visited{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  width: 200px;
  height: 30px;
  font-size: 10px;
  
}
.search-container form button{
  height: 30px;
}
/* serch bar ends */
