@background_color  :#efefef;
@white_fadeed:#ecedeb;
@color_fadeedblack:#292c32;
@color_creamred :#d94c4d;
@color_profession:#919191;
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: @background_color!important;
}

body {
  height: 100%;
    background-color: @background_color!important;
  font-family: 'Vollkorn', serif !important;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  padding: 1rem;
  text-rendering: optimizeLegibility;

}
.row{
    height: 100%;
      background-color: @background_color;
        // margin-left:  30px!important;
        // margin-right:  30px!important
}

._sidenav{

  padding-bottom: 20px !important;
}

._card{
  display: flex;
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  &:hover {
    .card__image {
      filter: contrast(100%);
    }
  }

  img{

    height: 350px;
  }
}

hr{
  height: 1px !important;
  background-color:#2b3036;
  margin: 0px !important;
}

.profile_extras{
    padding: 10px;
    text-align: center;
    background-color: @color_fadeedblack;

  span{
  width: 100%;
  }

  a , a:hover ,a:visited{
    text-decoration: none;
    color: @background_color;
    font-style: normal;

    font-size: 13px;
  }


}
// when a side nav is selected
.selected{
  background-color: @color_creamred !important;
}

//for social icons
.social_feed{
  padding: 10px;
  text-align: center;
    i{
    padding: 6px;
  }
  a,a:visited{
    text-decoration: none;
    color: black !important;
  }
  a:hover
  {
    color: @color_creamred !important;
  }
}
._copyright{
  text-align: center;
  font-weight: bold;
  padding-bottom:  10px;
  font-size: 12px;

}

//finished side nav

._title{
  font-weight: bold;
  font-size: 15px;
  padding: 20px;
  padding-bottom: 0px !important;
}
.hr_title{
  height: 0.41px !important;
  margin: 4px !important;
  background-color: #fafafa;
}
._name{
  font-weight: bold;
  font-size: 22px;
  padding: 20px;
  padding-bottom: 0px !important;
  color: black;
}
._profession{
  line-height: 0.8em;
  font-size: 12px;
  padding-left:  20px;
  padding-bottom: 0px !important;
  color: @color_profession;
}

._cv-dec{
  text-align: justify;
  font-size: 16px;
  padding:  20px;
  padding-bottom: 0px !important;
  color: @color_profession;
}

._tablespan{
  padding:  20px;


}
._tablebio{
  width: auto!important;
  font-size: 14px !important;

  td{

    padding: 8px !important;
  }
}

._tablehead{
  font-weight: bold;
  font-size: 12px !important;

}

._tabledata{
color: @color_profession;
background-color: @background_color;
}

// SKILLS

._nameofskill{
  padding:  15px;
  padding-bottom: 5px;
  font-size: 14px !important;
color: @color_profession;
}

//EDUCATION
._educationname{

  font-weight: bold;
  font-size: 14px;
  padding: 20px;
  padding-bottom: 0px !important;
  color: black;
}

._nameofinstitute{

  font-size: 13px;
  padding-left:  20px;
  padding-bottom: 0px !important;
  color: @color_profession;
}


// designed by @ footer

._designedby{
  padding-top: 20px;
text-align: center;
  span{

    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: white;
  }
}
