
@import '../reset.scss';
@import url('https://fonts.googleapis.com/css?family=PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Jua');

// mixins
@mixin transition($value) {
  -webkit-transition: $value;
     -moz-transition: $value;
      -ms-transition: $value;
      -o-transition: $value;
      transition: $value ;
}

// card design
._card{
  display: flex;
  background-color: #292c32;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;

}


.auth-container{
  /* The image used */
  background-image: url("../../images/polygon-background.jpg");
    /* Full height */
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'PT Sans', sans-serif;

.login-form-container{
  padding: 0px;
  margin:40px 0 0 0px;
  color: rgba(255,255,255,0.65);

  // for logo
    .auth-logo-top{
      text-align: center;
      img{
        width: 60px;
        height: 60px;
      }
      .logo-top
      {
        margin: 10px 0 10px 0;
        font-family: 'Jua', sans-serif;
        font-size: 1.6rem;
        color: #efefef;
      }

    }

  .login-form{
  padding: 35px;

  .welcome-back{
    text-align: center;
    font-size: 32px;
    font-weight: lighter;
    margin: 0 0 20px 0 ;

  }

  .form-group{
    margin: 0 0 20px 0 ;
    label{
      text-transform: uppercase;
      font-size: 12px;
      font-weight: bolder;
    }

    input{
      border: 0.5px solid #efefef;
      background-color: rgb(40,40,40);
    }
    input:hover{
      border: 0.5px solid black;
    }
  }

    .forget-pwd{
    color: #D85969;
    font-family: 'Jua', sans-serif;
    font-size: 14px;
    margin: 0 0 10px 0 ;

      a{
        color: #D85969;
        text-decoration: none;
      }
      a:hover{
        text-decoration: underline;
      }
    }

    .need-account{
      color: rgba(216,89,105,0.9);

      font-family: 'Jua', sans-serif;
      font-size: 14px;
      margin: 10px 0 10px 0 ;

        a{
          color: #D85969;
          text-decoration: none;
        }
        a:hover{
          text-decoration: underline;
        }
    }

    // for login button
    button{
      font-family: 'Jua', sans-serif;
      background-color: #D85969;
      color: white;
      border: 0;
      padding: 5px;
    }
    button:hover{
      background-color: white;
      color: #D85969;
      @include transition(ease-in-out 0.4s);
      border-color:black;

    }
  }
}

}
