@import 'reset';
@import url('https://fonts.googleapis.com/css?family=Eater');
body{
  background-color: white;
}

.content{
  padding: 20px;
}
.bg-404-error {
  padding: 10px;
  img{
    width: 600px;
    padding: 10px;
    margin:20px 0 0 0 ;
  }

}
.error-text{
    margin: 20px 0 0 0 ;
  span{
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Eater', cursive;
  }
}
