@import 'fonts';

$fontsizevalue : 14px;
// mixins
@mixin transition($value) {
  -webkit-transition: $value;
     -moz-transition: $value;
      -ms-transition: $value;
      -o-transition: $value;
      transition: $value ;
}

%padding-for-each-container{
  padding: 20px;
}
._footer{
  font-family: 'Source Sans Pro',sans-serif,Calibri,helvetica,Cantarell,arial,tahoma,verdana;
  padding: 20px;
  background-color: #292c32;
  color: #efefef;

  h3{
    font-weight: 300;
    font-family: 'Source Sans Pro',sans-serif,Calibri,helvetica,Cantarell,arial,tahoma,verdana;

  }

//intro to Rentit
.intro{
   @extend %padding-for-each-container;

  img{
    padding: 10px;
    width: 100px;
    height: 100px;
  }

  p{
    font-family: 'Source Sans Pro',sans-serif,Calibri,helvetica,Cantarell,arial,tahoma,verdana;
    font-size: $fontsizevalue;
    text-align: center;
    padding: 10px 25% 20px;
  }
}

  // company
  .company-details{
    @extend %padding-for-each-container;
    h3{
      text-align: center;
    }
    ul{
      padding: 10px 25% 20px;
      li{
        a{
          font-size: $fontsizevalue;
          text-decoration: none;
          color: #efefef;
        }
        a:hover{
          color: #d94c4d;
          @include transition(ease-in-out 0.7s);
        }
      }

    }
  }

  // for contact-us
  .contact-us{
    font-size: $fontsizevalue;
    @extend %padding-for-each-container;

    ._socialfeeds{
      padding: 10px 25% 20px;
      table
      {
        padding: 10px 25% 20px;
        td{
          font-size: $fontsizevalue;
        }
      }
      a i {
        padding-right: 6px;
        text-decoration: none;
        color: #d94c4d;
      }
      i:hover{
        @include transition(ease-in-out 0.6s);
        color: #efefef;
      }
    }
  }
}

// for copyright
.copy-right-tag{
  font-family: 'Source Sans Pro',sans-serif,Calibri,helvetica,Cantarell,arial,tahoma,verdana;

  text-align: center;
  font-size: 15px;
  padding: 5px;
  font-weight: 700;
}
