<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <title>Page Cannot Be Found !! | 404 error | No Data</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--===============================================================================================-->
  <link rel="icon" type="image/png" href="../assets/images/icons/logo-rentit.png"/>
  <!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href="../assets/css/404-error.css">
  <!--===============================================================================================-->
  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <!-- animate css cdn -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <!--===============================================================================================-->

</head>
<body>

  <!-- main container -->
  <div class="content">
    <!-- 404-error image -->
    <div class="bg-404-error col-md-12 xs-md-12 col-lg-12 js-tilt">
      <center>
        <img src="../assets/images/404-error.png" class="img-responsive img-fluid" alt="404-error-message">
      </center>
    </div>
    <!-- somethings wrong text -->
    <div class=" error-text col-md-12 xs-md-12 col-lg-12 js-tilt">
      <center>
        <span>Somethings Wrong!! Try Again Later</span>
      </center>
    </div>
  </div>

  <!-- scripts -->
  <!-- jQuery CDN -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <!-- Bootstrap Js CDN -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tilt.js/1.2.1/tilt.jquery.min.js"></script>
  <script >
  $('.js-tilt').tilt({
    scale: 1.1
  })
  </script>
</body>
</html>
