@import url("https://fonts.googleapis.com/css?family=Jua");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Jua");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
@import url("https://fonts.googleapis.com/css?family=Jua");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
body, html {
  height: 100%;
  margin: 0; }

.row {
  margin-left: 0px;
  margin-right: 0px; }

.pd-0 {
  padding: 0px; }

.md-0 {
  margin: 0px; }

.margin-top-50 {
  margin-top: 50px !important; }

body {
  background-color: #efefef; }

.navbar {
  border-color: transparent;
  background-color: white; }
  .navbar .container .navbar-brand {
    font-family: 'Jua', sans-serif;
    padding: 0px;
    text-decoration: none;
    color: #292c32;
    font-size: 28px; }
    .navbar .container .navbar-brand span {
      font-size: 14px;
      color: #d94c4d; }
  .navbar .container ul li a {
    font-size: 14px;
    color: #292c32;
    font-family: 'Source Sans Pro',sans-serif,Calibri,helvetica,Cantarell,arial,tahoma,verdana;
    font-weight: 500;
    text-transform: uppercase; }
  .navbar .container ul li a:hover {
    color: #d94c4d;
    -webkit-transition: ease-in-out 0.4s;
    -moz-transition: ease-in-out 0.4s;
    -ms-transition: ease-in-out 0.4s;
    -o-transition: ease-in-out 0.4s;
    transition: ease-in-out 0.4s; }
  .navbar .container .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(217,76,77)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  .navbar .container .navbar-toggler {
    border-color: #d94c4d; }

._footer .intro, ._footer .company-details, ._footer .contact-us {
  padding: 20px; }

._footer {
  font-family: 'Source Sans Pro',sans-serif,Calibri,helvetica,Cantarell,arial,tahoma,verdana;
  padding: 20px;
  background-color: #292c32;
  color: #efefef; }
  ._footer h3 {
    font-weight: 300;
    font-family: 'Source Sans Pro',sans-serif,Calibri,helvetica,Cantarell,arial,tahoma,verdana; }
  ._footer .intro img {
    padding: 10px;
    width: 100px;
    height: 100px; }
  ._footer .intro p {
    font-family: 'Source Sans Pro',sans-serif,Calibri,helvetica,Cantarell,arial,tahoma,verdana;
    font-size: 14px;
    text-align: center;
    padding: 10px 25% 20px; }
  ._footer .company-details h3 {
    text-align: center; }
  ._footer .company-details ul {
    padding: 10px 25% 20px; }
    ._footer .company-details ul li a {
      font-size: 14px;
      text-decoration: none;
      color: #efefef; }
    ._footer .company-details ul li a:hover {
      color: #d94c4d;
      -webkit-transition: ease-in-out 0.7s;
      -moz-transition: ease-in-out 0.7s;
      -ms-transition: ease-in-out 0.7s;
      -o-transition: ease-in-out 0.7s;
      transition: ease-in-out 0.7s; }
  ._footer .contact-us {
    font-size: 14px; }
    ._footer .contact-us ._socialfeeds {
      padding: 10px 25% 20px; }
      ._footer .contact-us ._socialfeeds table {
        padding: 10px 25% 20px; }
        ._footer .contact-us ._socialfeeds table td {
          font-size: 14px; }
      ._footer .contact-us ._socialfeeds a i {
        padding-right: 6px;
        text-decoration: none;
        color: #d94c4d; }
      ._footer .contact-us ._socialfeeds i:hover {
        -webkit-transition: ease-in-out 0.6s;
        -moz-transition: ease-in-out 0.6s;
        -ms-transition: ease-in-out 0.6s;
        -o-transition: ease-in-out 0.6s;
        transition: ease-in-out 0.6s;
        color: #efefef; }

.copy-right-tag {
  font-family: 'Source Sans Pro',sans-serif,Calibri,helvetica,Cantarell,arial,tahoma,verdana;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  font-weight: 700; }

body {
  background-color: #fff;
  font-family: 'Source Sans Pro',sans-serif,Calibri,helvetica,Cantarell,arial,tahoma,verdana; }

.search-box-container {
  /* The image used */
  background-image: url("../images/polygon-background.jpg");
  /* Full height */
  height: 80%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

@media only screen and (max-width: 600px) {
  .search-box-container {
    height: 60%; } }
#why-use-rentit .homepage-caption-container {
  margin: 30px 0 0 0;
  display: block;
  text-align: center;
  color: #666; }
  #why-use-rentit .homepage-caption-container .homepage-caption-header {
    line-height: 1.428571429;
    background: 0 0;
    text-transform: capitalize;
    font-size: 28px;
    font-weight: 400;
    font-family: 'Source Sans Pro',sans-serif,Calibri,helvetica,Cantarell,arial,tahoma,verdana; }
#why-use-rentit .rn-info-item {
  height: 250px;
  overflow: hidden;
  position: relative;
  background: #fff;
  border-radius: 3px;
  padding: 0 20px; }
#why-use-rentit .rn-info-item a {
  text-align: left;
  width: 100%;
  height: 75%;
  display: block;
  color: #333;
  position: relative;
  transition: all .25s ease-out 0s; }
#why-use-rentit a:hover {
  text-decoration: none; }
#why-use-rentit .rn-info-icon {
  font-size: 50px;
  color: #909496;
  opacity: .8;
  line-height: 90px;
  height: 90px;
  left: 0;
  top: 0; }
#why-use-rentit .rn-info-content h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 20px; }
#why-use-rentit .rn-info-content p {
  text-align: center;
  font-size: 14px;
  color: #424d56;
  padding: 10px 25% 20px; }
#why-use-rentit .rn-info-content, #why-use-rentit .rn-info-icon, #why-use-rentit .rn-rentalagreement .row {
  text-align: center; }
#why-use-rentit .avoid_broker, #why-use-rentit .free_listing, #why-use-rentit .shortlist_visit {
  background-repeat: no-repeat; }
#why-use-rentit .avoid_broker {
  background-image: url("../images/icons/nobroker.png");
  background-position: 48%; }
#why-use-rentit .free_listing {
  background-image: url("../images/icons/lists.png");
  background-position: 48%; }
#why-use-rentit .shortlist_visit {
  background-image: url("../images/icons/house.png");
  background-position: 48%; }

/*# sourceMappingURL=landing-page.css.map */
